@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #1C1E1C;
    --secondary-color: #7AF17A;
    --terciary-color: #dbf0e0;
    --quaternary-color: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    margin: 0;
    padding: 0;
}